$marginTopBottom: 3vh;

.pageTitle {
  margin: 0;
  margin-bottom: 10px;
}

.page {
  overflow-y: scroll;
  height: calc(100vh - $marginTopBottom - 8vh);

  // Hide the scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.pageContent {
  min-height: 100vh;

  // Fade in
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

// fadeIn animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
