$borderRadius: 8px;
$inHeight: 2vh;

$linkPadding: 0.75vw;
$linkPaddingSides: 2vw;

$imgLinkSpacing: 1vw;
$linkWidthRight: 5vh;

.active {
  background-color: #ffffff !important;
}

.LinkButton {
  width: 11vw;

  border-radius: $borderRadius;

  padding-top: calc($linkPadding + 3px);
  padding-bottom: $linkPadding;
  padding-left: calc($linkPaddingSides + 3px);
  padding-right: calc($linkPaddingSides + 3px);

  background-color: #f3f5ff;

  display: inline-block;

  > * {
    height: $inHeight;
  }

  > .LinkText {
    margin-left: $imgLinkSpacing;
    margin-right: $linkWidthRight;

    position: relative;
    bottom: 5px;
  }
}

.LinkButtonLink {
  margin: 0;
  padding: 0;

  padding: calc($inHeight / 2);

  text-decoration: none;
  color: #000;
}
