.LinkButton {
  margin: 10px;
  
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 21px;
  padding-bottom: 4px;
  
  background-color: #f3f5ff;
  color: #000;

  text-decoration: none;

  border-radius: 8px;

  > * {
    height: 32px;
  }

  > .LinkText {
    padding-left: 12px;
    font-size: 32px;
  }
}