$borderRadius: 8px;
$inHeight: 2vh;

$linkPadding: 0.75vw;
$linkPaddingSides: 2vw;

$imgLinkSpacing: 1vw;
$linkWidthRight: 5vh;

.active {
  background-color: #ffffff !important;
}

.LinkButtonLink {
  margin: 0;

  text-decoration: none;
  color: #000;

  > .LinkButton {
    margin-bottom: 6px;
    width: 12vw;

    border-radius: $borderRadius;

    padding: $linkPadding $linkPaddingSides;

    background-color: #f3f5ff;

    > .LinkImage {
      margin-left: $imgLinkSpacing;
      margin-right: $imgLinkSpacing;

      display: inline;
    }

    > * {
      height: $inHeight;
    }

    > .LinkText {
      margin-left: $imgLinkSpacing;
      margin-right: $linkWidthRight;

      display: inline-block;
    }

    transition: all 0.5s ease;
  }

  &:hover {
    > .LinkButton {
      background-color: darken(#f3f5ff, 10%);
    }
  }
}
