$bg: #eaeeff;
$accentColor: #385de3;

$height: 8vh;

.mediaPlayer {
  background-color: lighten($bg, 1%);
  height: $height;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .mediaPlayerInfo {
    display: flex;
    width: 40%;

    .mediaPlayerInfoImg {
      height: calc($height - 2vh);
      width: calc($height - 2vh);
      margin: 1vh;

      border-radius: 8px;
    }

    .mediaPlayerInfoTitle {
      margin: 1vh;
      height: calc($height - 2vh);
      width: calc(100% - #{$height});
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .mediaPlayerControls {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mediaPlayerControlsPlayBttn {
      height: calc($height - 2vh);
      width: calc($height - 2vh);
      margin: 1vh;
      border: none;
      border-radius: 8px;
      background-color: $accentColor;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
    }
  }
}
