.sidebar {
  position: absolute;
  top: 0;

  background-color: #eaeeff;

  width: 18vw;
  height: 100vh;
}

.sidebarHeader {
  margin: 1vw;
  margin-left: 2vw;
  width: 16vw;
}

.sidebarLinks {
  margin: 1vw;
  width: 16vw;
}

.sidebarFooter {
  position: absolute;
  bottom: 0;
  height: 10vh;
  background-color: #eaeeff;
}
