.sidebar {
  position: absolute;
  top: 0;

  background-color: #eaeeff;

  width: 18vw;
  height: 100vh;

  > * {
    margin: 1vw;
    width: 16vw;
  }
}

.sidebarLink {
  padding-top: 10px;
  margin-top: 20px;
}

.sidebarFooter {
  position: absolute;
  bottom: 0;
  height: 10vh;
  background-color: #eaeeff;
}
