$accentColor: #385de3;
$songHeight: 48px;

.Song {
  background-color: #f3f5ff;
  border-radius: 8px;

  display: flex;
  height: $songHeight;

  align-items: center;

  > .SongTitles {
    width: 95%;
  }

  > .SongPlayBttn {
    margin-left: 8px;
    margin-right: 8px;
  }
}
